.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# SMILES Data folders
Fragments/
Drug-Like/

# Excel output
test.xlsx

# Molecule images
mol.png
mol*.png

# pkl files
pkl/*
!pkl/1%-fragments-indicators-lfs.pkl
